* {
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  background-color: #F7F8F7;
  align-items: center;
}
section{
margin-top:30px;
width: 300px;
height: 650px;
background-color: white;
 border-radius: 10px;
padding: 5px;
box-shadow: 10px 5px 5px #F6F5F7;
}
.header,
.nav-bar{
  display: flex;
  justify-content: space-between;
  margin:10px;
  padding: 15px 0 15px 0;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.main-btn,
.btn-2{
   display: flex;
   justify-content: space-around;
}
.main img{
  width:60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #552bc5;
}
li img{
  width:40px;
  height: 40px;
  border-radius: 10px;
}
.playpage-img img{
    width:170px;
  height: 170px;
  border-radius: 10px;
    box-shadow: 5px 5px 10px #552bc5;
}
li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
box-shadow: 10px 5px 5px #F6F5F7;
background-color: white;
}

.footer {
   display: flex;
   justify-content: space-between;
  align-items: center;
}
.music-singer{
  color:#B6B7B7;
  font-size:12px;

}
.music-song{
font-size: 14px;
}
.main-img{
  padding: 10px 0 20px 0;
}
.main-genre
{
  padding: 10px 0 20px 0;
}
.main-btn{
  padding: 10px 0 20px 0;
}
.main-singer{
  font-size: 20px;
  font-weight: bold;
}
.main-genre{
  color:#B6B7B7;
  font-size:14px;
  font-weight: bold;
}
.btn-1,
.btn-2{
  background-color: black;
  color:white;
  margin:10px;
  font-size:11px;
  padding:14px 20px 14px 20px;
  border-radius: 20px;
  font-weight: bold;
}
.btn-2{
  background-color: white;
color:black;
}
.text{
  padding-left: 12px;
color:#C3C1C4;
}
.music-singer,
.music-song{
  padding:5px 0 5px 0;
}
.footer{
 margin:20px 10px 0 25px;
  width:250px;
  background-color: black;
  padding:10px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #F6F5F7;
}
.play-bar i{
  color:white;
  padding-right:5px;
}
#song{
  color:white;
}
.playpage{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.playpage img{
  margin-top:50px;
}
.playpage .main-singer{
  margin-top:30px;
}
.playpage .main-genre{
  margin-top:20px;
}
.playpage-bar{
  margin-top:30px;
}
.playpage-btn{
  margin-top:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playpage-btn i:nth-child(3){
  font-size:60px;
}
.playpage-btn i{
  margin-left:10px;
  margin-right:10px;
}
.playpage-btn i:first-child,
.playpage-btn i:last-child
{
  color:#C3C1C4;
}
.playpage-bar{
  width:90%;
}
.bar{
  position: relative;
}
.bar1{
  border-bottom: 3px 
  solid #B6B7B7;
  opacity:30%;
  position: relative;
}

.dot{
  position: relative;
  color:black;
  border-radius: 50%;
  width:7px;
  height:7px;
  top:4px;
  z-index: 1;
  animation: movemove 5s infinite;
}

.playtime{
  display: flex;
  justify-content: space-between;
  color:#B6B7B7;
}
.playtime div{
  font-size:11px;
  font-weight: bold;
  margin-bottom: 5px;

}

.footer .music-singer,
.footer .music-song{
  font-size: 11px;
  padding-left: 6px;
}

@keyframes movemove {
  0% {
    transform: translate(0%);
    background-color:black;
  }

  100% {
    transform: translate(3300%);
    background-color:black;
  }
}